<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head", {title: "Las más recomendadas"}) %>
</head>
<body>
    <%- include("../partials/header", {title: "Las más recomendadas"}) %>
    <div class="container">
        <ul>
            <% movies.forEach(movie => { %>
                <li><a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a></li>
            <% }); %>
        </ul>
    </div>
    <%- include("../partials/scripts") %>
</body>
</html>