<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: `Buscando: ${search}`}) %>
</head>

<body>
    <div class="body-section">
        <%- include("partials/header", {title: `Buscando: ${search}`}) %>
        <div class="container margin">
            <% if (actors.length == 0 && movies.length == 0 && genres.length == 0) { %>
            <div class="alert alert-warning" role="alert">
                No se encontraron resultados
            </div>
            <% } %>
            <% if (actors.length > 0) { %>
            <h3 class="mt-5">Actores: </h3>
            <ul>
                <% actors.forEach(actor => { %>
                <li><a href="/actors/detail/<%= actor.id %>"><%= `${actor.first_name} ${actor.last_name}` %></a></li>
                <% }); %>
            </ul>
            <% } %>
            <% if (movies.length > 0) { %>
            <h3 class="mt-5">Películas: </h3>
            <ul>
                <% movies.forEach(movie => { %>
                <li><a href="/movies/detail/<%= movie.id %>"><%= movie.title %></a></li>
                <% }); %>
            </ul>
            <% } %>
            <% if (genres.length > 0) { %>
            <h3 class="mt-5">Géneros: </h3>
            <ul>
                <% genres.forEach(genre => { %>
                <li><a href="/genres/detail/<%= genre.id %>"><%= genre.name %></a></li>
                <% }); %>
            </ul>
            <% } %>
        </div>
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
</body>

</html>