<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head", {title: "Todos los géneros"}) %>
</head>
<body>
    <%- include("../partials/header", {title: "Todos los géneros"}) %>
    <div class="container margin">
        <ul>
            <% genres.forEach(genre => { %>
                <li><a href="/genres/detail/<%= genre.id %>"><%= genre.name %></a></li>
            <% }); %>
        </ul>
    </div>
    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
</body>
</html>